.App {
  text-align: center;
  height: 100%; 
 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.App-text{
  font-family: 'Baloo Bhaina 2', cursive;
}
.example {
  background: url("https://www.xmple.com/wallpaper/gradient-blue-green-linear-1920x1080-c2-92e4ff-ffffff-a-105-f-14.svg");
  height: 100vmin; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.font-thai{
  font-family: 'Kanit', sans-serif;
}
